
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400&family=Roboto:wght@100;300;400;500;700;900&display=swap');

.container{
    height:100vh;
    padding:5rem;
    box-sizing: border-box;
    background-image:url("thumb.jpg");
}
*{
  color:white;
  font-family: 'Bebas Neue', cursive !important;
}
.vector-graphics{
    filter: drop-shadow(0 40px 10px rgba(0,0,0,0.3));
    animation: vectorAnimation 1s infinite ease-in-out alternate;
}

@keyframes vectorAnimation{
    to{
        transform: translateY(-50px)
    }
}


.brandsBanner > svg{
  
  font-size: 3rem;
  transition: color 0.5s;
}

.brandsBanner > svg:hover{
    background-color: yellowgreen;
   
}

.container2{
    height:100vh;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.container2 video{
    border: 1px solid rgba(0,0,0,0.3);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    width: 60%;
    border-radius: 5px;
    outline: none;

}

@media screen and (max-width:600px){
    
.container2{
    height:unset;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
    .container2 video{
        border: 1px solid rgba(0,0,0,0.3);
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        width: 100%;
        border-radius: 5px;
        outline: none;
    
    }
}

.course{
    margin-bottom: 1rem;
    transition: all 0.5s;

}

.course:hover{
    transform: translateY(-10px)
}